extends ../layouts/default.jade

block content
  .row
    h3 Populate database with test Locations and Circles data
    .divider
    button.btn.btn-warning.create-test-circle Create 1 test circle
    .divider
    button.btn.btn-warning.populate-test-circles-10 Populate 10 test circles
    //.divider
    //button.btn.btn-warning.populate-test-circles-25000 Populate first 25000 test circles
    //.divider
    //button.btn.btn-warning.populate-test-circles-50000 Populate second 25000 test circles
    .divider
    button.btn.btn-danger.clear-db Clear all circles and locations
  //.row
    h3 Find nearly located members
    .divider
    button.btn.btn-info.populate-near Math approach
    .divider
    button.btn.btn-info.populate-near-db-index 2dIndex $near approach
    .divider
    button.btn.btn-info.populate-within-db-index 2dIndex $geoWithin approach
    .divider
    button.btn.btn-info.populate-near-entire-circle Entire circle complex query using $geoWithin
  .row
    h3 Emulation
    .divider
    button.btn.btn-primary.emulate-location-change Emulate location change
    .divider
    button.btn.btn-primary.send-ping Send Ping
    .divider
    h3 Visualisation
    .divider
    button.btn.btn-success.visualize Update points position
    .divider
    .row.svg-content
